.cont1_slideH2 {
  margin: 150px 0;
}
.cont1_slidetrack {
  display: flex;
  align-items: stretch;
  aspect-ratio: 1/0.3;
  gap: 70px;
  padding: 0 50px;
  position: relative;
  margin-bottom: 180px;
}
.mySwiper {
  flex: 2;
  min-width: 0;
}
.mySwiper2 {
  flex: 1;
  min-width: 0;
}

.cont1_slide_imgbox {
  display: block;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cont1_slide_imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cont1_slide_wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cont1_slide_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  opacity: 0.4;
}

.cont1_slide_list {
  width: 100%;
  position: absolute;
  padding: 0 25% 0 15%;
  top: 50%;
  transform: translateY(-50%);
}
.cont1_slide_list h5 {
  font-size: 28px;
  padding-bottom: 100px;
}
.cont1_slide_list span {
  width: 100%;
  padding-right: 20px;
  font-size: 18px;
  word-break: keep-all;
}
.cont1_slide_rbtn {
  font-size: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  z-index: 999;
}
.cont1_slide_lbtn {
  font-size: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2%;
  z-index: 999;
}

/* 반응형 */
@media (max-width: 1280px) {
  .cont1_slidetrack {
    aspect-ratio: 1/0.5;
    gap: 10px;
  }

  .cont1_slide_list {
    transform: translateY(-10%);
  }
  .cont1_slide_list h5 {
    font-size: 24px;
  }
  .cont1_slide_list span {
    display: none;
  }
  .cont1_slide_rbtn {
    font-size: 50px;
  }
  .cont1_slide_lbtn {
    font-size: 50px;
  }
}
@media (max-width: 800px) {
  .cont1_slidetrack {
    aspect-ratio: 1/0.5;
    gap: 10px;
  }

  .cont1_slide_list {
    transform: translateY(-10%);
  }
  .cont1_slide_list h5 {
    font-size: 18px;
  }

  .cont1_slide_rbtn {
    font-size: 40px;
  }
  .cont1_slide_lbtn {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .cont1_slide_list h5 {
    font-size: 16px;
  }

  .cont1_slide_rbtn {
    font-size: 30px;
  }
  .cont1_slide_lbtn {
    font-size: 30px;
  }
}
