.cont1_slidetrack {
  display: flex;
  align-items: stretch;
  height: 450px;
  gap: 70px;
  padding: 0 50px;
  position: relative;
  margin-bottom: 180px;
}
.mySwiper {
  flex: 2;
  min-width: 0;
}
.mySwiper2 {
  flex: 1;
  min-width: 0;
}

.cont1_slide_imgbox {
  display: block;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cont1_slide_imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cont1_slide_wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cont1_slide_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  opacity: 0.4;
}

.cont1_slide_list {
  position: absolute;
  padding: 100px 0 0 50px;
}
.cont1_slide_list li {
  font-size: 28px;
  margin-bottom: 5px;
}
.cont1_slide_rbtn {
  font-size: 80px;
  position: absolute;
  top: 0;
  transform: translateY(180%);
  right: 0;
  z-index: 999;
}
.cont1_slide_lbtn {
  font-size: 80px;
  position: absolute;
  top: 0;
  transform: translateY(180%);
  left: 0;
  z-index: 999;
}
