.prd_slide_container {
  width: 100%;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  gap: 50px; /* 위아래 슬라이드 간격 */
  margin: 400px 0 50px;
}

.prd_row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

/* 슬라이드와 텍스트 영역 비율 */
.slide_area {
  width: 70%;
  overflow: hidden;
}

.text_area {
  width: 30%;
  text-align: center;
  padding-right: 5%;
}

.text_area h2 {
  font-size: 40px;
  padding: 0 0 30px;
}

.text_area p {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
}
.text_area button {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
}

/* 이미지 크기 고정 */
.slide_img_box img {
  width: 95%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 20px;
}

.bottom_row .slide_area {
  width: 53%;
}
.bottom_row .text_area {
  width: 40%;
}
/* 팝업창 */
.popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(109, 116, 128, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.popup_content {
  width: 20%;
  background-color: #f2ede6;
  padding: 40px;
  border-radius: 20px;
}
.popup_header {
  text-align: center;
  padding-bottom: 40px;
}
.popup_header h2 {
  font-size: 24px;
  padding: 0;
}

.popup_body {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
}
.popup_body p {
  color: #666;
}
.popup_body .close_btn {
  font-size: 18px;
  margin: 40px 0 20px;
}

/* 반응형 */
@media (max-width: 1024px) {
  .prd_row {
    flex-direction: column !important; /* 모바일에선 무조건 위아래로 */
    text-align: center;
    gap: 150px;
  }

  .slide_area {
    order: 1;
  }
  .text_area {
    order: 2;
    padding: 0;
  }

  .text_area h2 {
    font-size: 24px;
    padding: 0 0 20px;
  }

  .text_area p {
    font-size: 16px;
    margin-bottom: 130px;
  }
  .text_area button {
    font-size: 16px;
  }
  .bottom_row .slide_area {
    width: 90%;
  }
  .popup_content {
    width: 30%;
    padding: 30px;
    border-radius: 20px;
  }
  .popup_header {
    padding-bottom: 30px;
  }
  .popup_header h2 {
    font-size: 20px;
    padding: 0;
  }

  .popup_body {
    text-align: center;
    font-size: 14px;
  }

  .popup_body .close_btn {
    font-size: 16px;
    margin: 30px 0 10px;
  }
}
@media (max-width: 768px) {
  .text_area p {
    font-size: 16px;
  }
  .popup_content {
    width: 35%;
    padding: 30px;
    border-radius: 20px;
  }

  .popup_body .close_btn {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .popup_content {
    width: 45%;
  }
}
