.prd_slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.prd_title {
  font-size: 24px;
  font-weight: bold;
  margin: 85px 0 120px;
}
.prd_slide_left {
  display: flex;
  margin-bottom: 45px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.prd_slide_left .mySwiper {
  width: 80rem;
  overflow: hidden;
}
.prd_slide_left .leftslide_blank {
  width: 20rem;
}
.prd_slide_right {
  display: flex;
  margin-bottom: 145px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.prd_slide_right .rightslide_blank {
  width: 40%;
}

.prd_slide_right .mySwiper {
  width: 60%;
}

.slide_img {
  width: 225px;
  height: 250px;
  background: #555;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prd_slide_left .mySwiper .swiper-slide,
.prd_slide_right .mySwiper .swiper-slide {
  width: 225px !important;
}
