.prd_1 {
  width: 100%;
  height: 450px;
  padding: 0 50px;
}
.prd_1 a {
  height: 100%;
  background: #999;
  display: block;
  text-align: center;
  line-height: 100px;
  border-radius: 25px;
}

.prd_1 a img {
  width: 100%;
}
