.prd_4 {
  width: 100%;
  height: 345px;
  padding: 0 50px;
  display: flex;
  margin-top: 16px;
  gap: 16px;
}

.prd_4 a {
  width: 100%;
  text-align: center;

  border-radius: 25px;
  background: #999;
}
.prd_4 .prd_4_text {
  position: absolute;
  transform: translate(2rem, 17rem);
}
