.cont2_fadewrap {
  display: flex;
  padding: 80px 50px;
  justify-content: center;
}

.fade-right,
.fade-left {
  width: 33%;
  height: 100%;
}
.fade-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.fade-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.cont2_center_text {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.cont2_fade_none {
  width: 33%;
}

.cont2_story {
  padding: 0 50px;
  margin-bottom: 200px;
}
.cont2_story h2 {
  margin-bottom: 125px;
}

.cont2_story_img img {
  width: 100%;
  height: 450px;
  border-radius: 25px;
  object-fit: cover;
}
