#header {
  width: 100%;
  height: 65px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  background: #f6f3ed;
  padding: 0 50px;
  position: fixed;
  z-index: 9999;
  box-sizing: border-box;
}

.logo {
  justify-self: center;
}

.logo img {
  width: 140px;
  height: auto;
}

.gnb_left {
  display: flex;
  gap: 32px;
  justify-self: start;
}

.gnb_right {
  display: flex;
  gap: 32px;
  justify-self: end;
}

.gnb_right li a {
  position: relative;
}

.gnb_right li a:hover i {
  opacity: 0;
}

.gnb_right li a:hover p {
  opacity: 1;
}

.gnb_right li a p {
  opacity: 0;
  position: absolute;
  transform: translateX(-0.3rem) translateY(-1rem);
}

@media (max-width: 800px) {
  .logo img {
    width: 110px;
  }
  #header {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .gnb_left p,
  .gnb_right p {
    display: none;
  }
}
