.login_wrap {
  width: 30%;
  padding: 80px 0 0;
  margin: 0 auto;
}

.login_wrap h5 {
  font-size: 18px;
  margin: 9% 0;
  text-align: center;
}
.login_wrap p {
  font-size: 14px;
  margin-bottom: 16px;
  text-align: left;
}
.login_wrap_parts input {
  width: 100%;
  border: 1px solid rgb(109, 116, 128, 0.5);
  padding: 12px 20px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #6d7480;
}
.login_wrap_parts input::placeholder {
  color: rgb(109, 116, 128, 0.4);
}
.login_wrap_parts input:hover {
  border: 1px solid #6d7480;
}
.login_btn {
  width: 100%;
  background-color: #6d7480;
  color: #f2ede6;
  padding: 12px 20px;
  border: 1px solid #6d7480;
  margin: 18px 0;
}
.login_btn:hover {
  background-color: #2a2a2a;
  color: #f2ede6;
  border: 1px solid #2a2a2a;
}
.login_wrap_sign {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 35px;
  color: rgb(109, 116, 128, 0.5);
}
.login_wrap_sign li {
  color: rgb(109, 116, 128, 0.7);
}
.login_wrap_sign li:hover {
  color: #6d7480;
}
