.signup {
  width: 30%;
  margin: 0 auto;
  padding: 80px 0;
}
input[type='checkbox'] {
  accent-color: #6d7480;
}
input::placeholder {
  color: rgb(109, 116, 128, 0.4);
  font-size: 14px;
}
.signup_wrap h5 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 28px;
}
.signup_wrap p {
  font-size: 14px;
  margin-bottom: 16px;
}
.signup_wrap2 p {
  font-size: 14px;
  margin-bottom: 16px;
}
.signup_wrap input {
  width: 100%;
  border: 1px solid rgb(109, 116, 128, 0.5);
  padding: 12px 20px;
  margin-bottom: 16px;
  font-size: 14x;
  color: #6d7480;
}
.signup_wrap2 input {
  width: 100%;
  border: 1px solid rgb(109, 116, 128, 0.5);
  padding: 12px 20px;
  margin-bottom: 16px;
  font-size: 14x;
  color: #6d7480;
}
.signup_wrap_parts2 input {
  width: 33%;
  padding-left: 14px;
  margin-bottom: 0;
}
.signup_wrap_part3 input {
  width: 33%;
  padding-left: 14px;
}
.signup_phone {
  display: flex;
  gap: 14px;
}

/* Prevent the options list from affecting adjacent inputs */
.custom_select {
  position: relative;
  box-sizing: border-box;
  flex: 0 0 33%;
  width: 33%;
  text-align: center;
  line-height: 150%;
  border: 1px solid rgb(109, 116, 128, 0.5);
  padding: 12px 20px;
  font-size: 14x;
  color: #6d7480;
}
.custom_select .selected_option {
  cursor: pointer;
}
.options_list {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow: auto;
  background: #fff;
  border: 1px solid rgba(109, 116, 128, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  z-index: 20;
  padding: 0;
  margin: 0;
  list-style: none;
}
.options_list li {
  padding: 5px;
  cursor: pointer;
}
.options_list li:hover {
  background: rgba(109, 116, 128, 0.06);
}

.signup_checkbox {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 14px;
}
.signup_checkbox_up {
  margin-top: 10px;
}

.signup_agree_check textarea {
  width: 100%;
  height: 100px;
  border: 1px solid rgb(109, 116, 128, 0.5);
  resize: none;
  font-size: 14px;
  padding: 10px;
}
.signup_btn {
  width: 100%;
  background-color: #6d7480;
  color: #f2ede6;
  padding: 12px 20px;
  border: 1px solid #6d7480;
  margin: 18px 0;
}
.signup_btn:hover {
  background-color: #2a2a2a;
  color: #f2ede6;
  border: 1px solid #2a2a2a;
}
.signup_checkbox_wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}
.signup_checkbox_wrap span {
  font-size: 14px;
  color: rgb(109, 116, 128, 0.5);
}
.signup_checkbox_wrap input[type='checkbox']:checked + span {
  color: #6d7480;
}
@media (max-width: 1645px) {
  .signup_checkbox {
    flex-direction: column;
    gap: 10px;
  }
}
