@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2')
    format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2')
    format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2')
    format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2')
    format('woff2');
  font-weight: 900;
  font-display: swap;
}

/* 1. 전체 기본 여백 제거 + 박스 계산 통일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. HTML, BODY 기본 설정 */
body {
  font-family: 'Pretendard';
  font-size: 16px;
  line-height: 1.2;
}

/* 3. 제목 태그 초기화 (h1 ~ h6 동일하게) */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* 4. 리스트 스타일 제거 */
ul,
ol {
  list-style: none;
}

/* 5. 링크 기본 스타일 제거 */
a {
  text-decoration: none;
  color: inherit;
}

/* 6. 이미지, 비디오 하단 공백 제거 */
img,
video {
  vertical-align: top;
}

/* 7. 폼 요소 기본 스타일 정리 */
button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

/* 8. 테이블 태그 기본 설정 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
